body.page-template-page-fullsingle-split {
  background-color: #FFFFFF;
}

.split-intro h1 {
  color: #008de8;
  opacity: 0.75;
}

.split-intro .tagline {
  color: #ffa500;
  opacity: 0.9;
}

.split-bio {
  font-family: "Montserrat", sans-serif;
}

.split-bio a {
  border: none;
  text-decoration: underline;
}

.split-bio a:hover {
  border: none;
  color: #ff4663;
  opacity: 0.5;
}

.split-bio p img {
  margin: 0 auto;
  display: block;
}

.split-bio table {
  width: 100%;
  table-layout:fixed;
}

.split-bio table th {
  color: #ff4663;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.75;
  text-transform: uppercase;
  text-align: left;
}

.split-bio table td {
  font-size: 17px;
  padding: 7px;
  padding-left: 0;
  opacity: 0.75;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  vertical-align: middle;
}

.split-bio table td, code {
  font-family: "Courier New";
  font-weight: bold;
  opacity: 0.9;
}

.split-lists .split-list h3 {
  color: #e20058;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.5;
}

.split-lists .split-list ul li a:hover {
  color: #ff4663;
  opacity: 0.5;
}

.split-content .split-credit p,
.split-content .split-credit p a {
  font-size: 13px;
  color: #ff4663;
}

/*
pink         ff4663
dark pink    e20058

yellow       ffc600
dark yellow  ffa500

blue         00c5ff
dark blue    008de8
*/
