<div class="split-bio">
  {{range where .Site.Pages "Type" "=" "intro"}} {{ .Content }} {{ end }}
</div>


<h2 class="sub-title">Tech Stack</h2>
<img class="center" src="images/fullstack.png" alt="full-stack software developer" />
<div class="split-lists tech-stack">
  {{ range $key, $value := .Site.Params.stack }}
    {{ range $key, $list := $value }}
      {{ if $list.tech }}
        <div class="split-list">
          <h3>{{ $list.heading }}</h3>
          <ul>
            {{ range $list.tech }}
              <li><code>{{ .text }}</code></li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
<div class="split-bio">
  {{range where .Site.Pages "Type" "=" "tech"}} {{ .Content }} {{ end }}
</div>


<h2 class="sub-title">Projects</h2>
<div class="split-bio">
  {{range where .Site.Pages "Type" "=" "projects"}} {{ .Content }} {{ end }}
</div>
<div class="split-lists projects">
  {{ range $key, $value := .Site.Params.projects }}
      {{ range $value.project }}
        <div class="project">
          <a href={{ .url }}>
            <img src={{ .image }} />
            <h3>{{ .title }}</h3>
          </a>
          <div>{{ .description }}</div>
        </div>
      {{ end }}
  {{ end }}
</div>


<h2 class="sub-title">Articles</h2>
<div class="split-bio">
  {{range where .Site.Pages "Type" "=" "articles"}} {{ .Content }} {{ end }}
</div>
<div id="medium-widget"></div>
<script src="/js/medium-widget-pixelpoint.js"></script>
<script>MediumWidget.Init({
  renderTo: '#medium-widget',
  params: {"resource":"https://medium.com/@fernandomachado90",
          "postsPerLine":3,
          "limit":3,
          "picture":"big",
          "fields":["description"],
          "ratio":"landscape"}
})
</script>


<h2 class="sub-title"><a id="connect"></a>Connect</h2>
<div class="split-bio">
  {{range where .Site.Pages "Type" "=" "connect"}} {{ .Content }} {{ end }}
</div>
