<div class="split-bio">
  {{range where .Site.Pages "Type" "=" "bio1"}} {{ .Content }} {{ end }}
</div>

<div class="split-lists tech-stack">
  {{ range $key, $value := .Site.Params.stack }}
    {{ range $key, $list := $value }}
      {{ if $list.tech }}
        <div class="split-list">
          <h3>{{ $list.heading }}</h3>
          <ul>
            {{ range $list.tech }}
              <li><code>{{ .text }}</code></li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
</div>

<div class="split-bio">
  {{range where .Site.Pages "Type" "=" "bio2"}} {{ .Content }} {{ end }}
</div>

<div id="medium-widget"></div>
<script src="/js/medium-widget-pixelpoint.js"></script>
<script>MediumWidget.Init({
  renderTo: '#medium-widget',
  params: {"resource":"https://medium.com/@fernandomachado90",
          "postsPerLine":2,
          "limit":2,
          "picture":"big",
          "fields":["description", "publishAt"],
          "ratio":"landscape"}
})
</script>

<div class="split-bio">
  {{range where .Site.Pages "Type" "=" "bio3"}} {{ .Content }} {{ end }}
</div>
