body.page-template-page-fullsingle-split {
  background-color: #FFFFFF;
}

.split-intro h1 {
  color: #008de8;
  opacity: 0.75;
}

.split-intro .tagline {
  color: #ffa500;
  opacity: 0.9;
}

.split-bio {
  font-family: "Montserrat", sans-serif;
}

.split-bio a {
  border: none;
  text-decoration: underline;
}

.split-bio a:hover {
  border: none;
  color: #ff4663;
  opacity: 0.5;
}

.split-bio p img {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

code {
  font-family: "Courier New";
  font-weight: bold;
  font-size: 14px;
  opacity: 0.75;
}

.split-lists .split-list h3 {
  color: #e20058;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.5;
}

.split-lists .split-list ul li a:hover {
  color: #ff4663;
  opacity: 0.5;
}

.split-content .split-credit p,
.split-content .split-credit p a {
  font-size: 13px;
  color: #008de8;
}

.split-content .split-credit p a:hover {
  color: #ff4663;
}

.split-lists.tech-stack {
  margin-bottom: -44px;
}

.split-lists.tech-stack .split-list h3 {
  color: #ff4663;
  opacity: 0.75;
}

#medium-widget .medium-widget-article__description {
  color: #848d96;
}

/*
pink         ff4663
dark pink    e20058

yellow       ffc600
dark yellow  ffa500

blue         00c5ff
dark blue    008de8
*/
